#iniciativas
  %h1
    Proyectos de Ley
    = " - tema: #{@topic.name}" if params[:controller] == 'temas'
    = " - busqueda: #{@query.values.join(',')}" if params[:controller] == 'search_initiatives'

  %aside
    %h2
      Buscar proyectos de ley

    = form_tag search_initiatives_path, :method => :post do |form|

      = text_field_tag 'search[keywords]', '', :placeholder => 'palabras clave', :class => 'input'

      = submit_tag 'Buscar', :class => 'button'

    %h2
      Temas

    .carousel
      %ul.ul-aside
        - @temas.each do |tema|
          %li= link_to tema.name, tema_path(tema)

  %section.container
    - if params[:controller] == 'search_initiatives' && @iniciativas.total_count
      %article.iniciativa
        %h2
          = "#{@iniciativas.total_count} Proyectos de ley encontrados"

    = render :partial => 'iniciativas/iniciativa', :collection => @iniciativas, :locals => { :show => false }

    = paginate @iniciativas, window: 2