#iniciativas
  %h1 Proyectos de Ley
  .content
    %aside
      %h2
        Buscar proyecto

      = form_tag search_initiatives_path, :method => :post do |form|

        = text_field_tag 'search[keywords]', '', :placeholder => 'Palabras clave', :class => 'input'

        = submit_tag 'Buscar', :class => 'button'

      %h2
        Temas
      .carousel
        %ul.ul-aside
          - @temas.each do |tema|
            %li= link_to tema.name, tema_path(tema)

    .wrapper
      %section.container
        %article.iniciativa{:class => "#{(@iniciativa.main?)? 'main' :  ''}"}
          .main
            .content
              .iniciativa_icon
                - if @iniciativa.additional_resources_url
                  = link_to image_tag('front/iniciativa.png'), @iniciativa.additional_resources_url, :target => '_blank'
                - else
                  = image_tag('front/iniciativa.png')
              .iniciativa_info
                %p.info
                  %span.date
                    = I18n.localize(@iniciativa.presented_at, :format => :month_year)
                  %br
                  Propuesta por:
                  %span
                    = link_to @iniciativa.representative.name, congresista_path(@iniciativa.representative) if @iniciativa.representative
                    = "(#{@iniciativa.representative.political_party.name})"

                %h2
                  = @iniciativa.title

                %p.description
                  = @iniciativa.description

                - if @iniciativa.additional_resources_url.present?
                  %p.texto
                    = link_to 'Texto del proyecto de ley', @iniciativa.additional_resources_url, :target => '_blank'

              - temas(@iniciativa)

              - estado_de_iniciativa(@iniciativa)

              %ul.etapa
                %li Etapa
                %li= @iniciativa.state_formated

              %ul.etapa
                %li Descripcion
                %li
                  - state_description(@iniciativa.state)

              %ul.recursos
                %li Informaci&oacute;n complementaria
                %li
                  - @iniciativa.resources.each do |resource|
                    .recurso= link_to resource.name, resource.url, :target => '_blank'

            .aside
              %ul
                %li.votos
                  %span
                    = @iniciativa.total_votes
                  Votos
                %li.comentarios
                  %span
                    = @iniciativa.comments.count
                  Comentarios
                %li.numero_iniciativa
                  %span= @iniciativa.number_format
                  #{'#'} de proyecto
                %li.share
                  .share-fb
                    <div class="fb-send" data-href="#{iniciativa_url(@iniciativa)}"></div>
                  .share-tw
                    <a href="https://twitter.com/share" class="twitter-share-button" data-count="none" data-lang="es" data-text="#{@iniciativa.description[0..70]}..." data-url="#{iniciativa_url(@iniciativa)}">Tweet</a>

          %ul.botones
            - if cookies["voted_#{@iniciativa.id}"]
              %li.favor= link_to "Vota a favor", ""
              %li.contra= link_to "Vota en contra", ""
            - else
              %li.favor= link_to "Vota a favor", iniciativa_vote_up_path(@iniciativa), :method => :post, :class => 'favor'
              %li.contra= link_to "Vota en contra", iniciativa_vote_down_path(@iniciativa), :method => :post, :class => 'contra'
            %li.comenta= link_to "Comenta", '#comenta'

          #separator &nbsp

          .votaciones
            %h2.no-border Votaciones

            - votacion_local(@iniciativa)

            - votacion_oficial(@iniciativa)

            %ul.votacion-pleno
              %li Votaci&oacute;n en pleno
              %li.favor= "#{@iniciativa.official_vote_up} Votos a favor"
              %li.favor= "#{@iniciativa.official_vote_down} Votos en contra"
              %li= "#{@iniciativa.official_vote_abstentions || 0} Abstenciones"



      .haz-comentario
        .comenta-content
          %a{:name => 'comenta'}
            %h2 Deja tu comentario

          = form_for Comment.new, :url => iniciativa_comments_path(@iniciativa), :method => :post do |form|
            .form-inputs
              = form.text_field :author, :placeholder => 'Nombre', :class => 'span3 input-text'

              = form.text_field :email, :placeholder => 'Email', :class => 'span4 input-text margin-left-15'

              = form.text_area :comment, :placeholder => 'Mensaje', :class => 'span7 input-text', 'data-len' => 500

              Solo se permite votar una vez por cada proyecto de ley.

            .other-email
              = text_field_tag :other_email

            = submit_tag 'Comenta', :class => 'submit span4'

      %article.iniciativa{:class => "#{(@iniciativa.main?)? 'main' :  ''}"}
        %h3 Comentarios

        - @iniciativa.comments.each do |comment|
          %p.comment
            %span
              = comment.author
              |
              = I18n.localize(comment.created_at, :format => :month_year)
            = comment.comment

- content_for(:javascript_onload) do
  - if params[:voted]
    location.href = '#comenta'
  $('#presentacion').popover({html : true, placement: 'above'});
  $('#comision').popover({html : true, placement: 'above'});
  $('#en_pleno').popover({html : true, placement: 'above'});
  $('#proyecto').popover({html : true, placement: 'above'});