%article.representante
  %ul.datos
    %li
      - if representante.political_party && representante.political_party.logo
        = image_tag representante.political_party.logo.url(:thumb)
      -else
        = image_tag 'front/image_32.png'
    %li
      .photo
        = link_to image_tag(representante.photo(:thumb)), congresista_path(representante)
      .name
        = link_to representante.name, congresista_path(representante)
    %li.last-child
      = representante.position
      |
      = representante.region_name.titleize if representante.region

  %ul.contadores
    %li
      - search = {:search => {:representative => representante.name}}
      = link_to image_tag('front/iniciativa.png'), search_initiatives_path(search), :method => :post
      %span
        = representante.initiatives.count
      Iniciativas
    %li
      Comentarios
    %li.last-child
      = representante.comments.approved.count
  .bottom &nbsp;