%h1 Congresistas de la Rep&uacute;blica

%aside
  %h2
    Twitter
  .tweet
    = "Twitter no disponible" if @representante.twitter.blank?

  %h2
    Representaci&oacute;n
  %ul.representacion
    - @representante.representation_actions.each do |representation_action|
      %li
        = link_to representation_action.name, representation_action.url, :target => '_blank'
    = "Representación no disponible" if @representante.representation_actions.blank?

  %h2
    Temas de interes del congresista
  %ul.temas
    - @representante.topics.each do |topic|
      %li
        = link_to topic.name, search_representative_path( :search => {:topic => topic.name})
    = "Temas de interes no disponibles" if @representante.topics.blank?

.congresista_content
  %article
    %h2
      Representante de
      = @representante.region.name.capitalize if @representante.region

    .primera-columna
      = image_tag @representante.photo
      %h4 Iniciativas
      %ul.iniciativas
        - @representante.initiatives.each do |iniciativa|
          %li
            = link_to iniciativa.title[0..50] + '...', iniciativa_path(iniciativa)

    .segunda-columna
      %p
        %span Nombre
        %span.nombre= @representante.name

      %p
        %span Votos obtenidos
        = number_with_delimiter(@representante.number_votes)

      %p
        %span Grupo Parlamentario
        -if @representante.political_party && @representante.political_party.logo
          = image_tag @representante.political_party.logo.url(:thumb)
        -else
          = image_tag 'front/image_32.png'

        = @representante.political_party.name if @representante.political_party

      %p
        %span Email
        = @representante.email

      %p
        %span Telefono
        = @representante.phone

      %p
        %span Twitter
        = "#{@representante.twitter || 'no disponible'}"

      %p
        %span Fecha de nacimiento
        = @representante.birthday

      %p
        %span Comisiones
        - @representante.commissions.collect do |commision|
        = link_to commision.name + ',', comisione_iniciativas_path(commision)

      %p
        %span Resumen de trayectoria
        = @representante.biography


  %article
    %h2 Deja tu comentario

    = form_for @comment, :url => congresista_comentarios_path(@representante) do |form|
      .form-inputs
        = form.text_field :author, :placeholder => 'Nombre', :class => 'span3 input-text'

        = form.text_field :email, :placeholder => 'Email', :class => 'span4 input-text margin-left-15'

        = form.text_area :comment, :placeholder => 'Mensaje', :class => 'span7 input-text', 'data-len' => 500

      .other-email
        = text_field_tag :other_email

      = submit_tag 'Comenta', :class => 'submit span4'


  %article
    %h3 Comentarios
    - @comments.each do |comentario|
      .comment
        %p
          %span
            =comentario.author
          = comentario.comment
        - comentario.replies.each do |reply|
          %p.reply
            %span
              = reply.author
            = reply.comment

<script>
- if @representante.twitter.present?
  jQuery(function($){
  $(".tweet").tweet({
  username: "#{@representante.twitter}",
  count: 10,
  loading_text: "cargando tweets...",
  template: "{text}"
  });
  });
</script>