#home-page
  #main.span11
    %section.main-banner
      = image_tag 'front/banner.png', class: 'banner'
      = link_to image_tag('front/que-es.png', class: 'que-es'), cms_html_path('acerca-de')

    .span5
      %h2
        - if @iniciativa.main
          La propuesta destacada
        - else
          La propuesta mas vista
      %p.info
        = I18n.localize(@iniciativa.presented_at, :format => :month_year)
        %br
        Propuesta por:
        %span
          = (@iniciativa.representative)? link_to(@iniciativa.representative.try(:name), congresista_path(@iniciativa.representative)) : ''

      %p.description
        = link_to @iniciativa.title, iniciativa_path(@iniciativa)

      %ul.colores
        %li.comenta
          Vota
          %br
          Comenta
        %li.votos
          %span
            = @iniciativa.total_votes
          %br
          votos
        %li.comentarios
          %span
            = @iniciativa.comments.count
          %br
          comentarios

      %ul.info
        %li
          Etapa del proyecto de ley
          %span= @iniciativa.state_formated
        %li
          Votaci&oacute;n 131 voces
          %span
            A favor:
            = "#{@iniciativa.percentage_votes_up}%"
          %span
            En contra:
            = "#{@iniciativa.percentage_votes_down}%"
        %li
          Votaci&oacute;n oficial
          %span
            A favor:
            = "#{@iniciativa.official_percentage_up}%"
          %span
            En contra:
            = "#{@iniciativa.official_percentage_down}%"


    .span5.monitoreados
      %h2
        Congresistas monitoreados
      - @representantes.each do |representante|
        = link_to image_tag(representante.photo(:thumb)), congresista_path(representante)

        %h2
          Acerca de 131 voces
        = link_to image_tag('/assets/front/' + @imagenes.shuffle.first), cms_html_path('acerca-de'), class: 'acerca-de-image'

  %aside.span5
    %h2 Integrantes del Congreso
    = form_tag search_representative_path, :method => :post do
      = label_tag :buscar_por_nombre
      %br
      = text_field_tag 'search[name]'

      %label
        Circunscripci&oacute;n electoral
      = select_tag 'search[state]', options_for_select(Region.all.collect {|region| [region.name, region.id]}), :include_blank => true
      = submit_tag 'Buscar', :class => :button
    = image_tag 'front/home-peru.png', :usemap => '#peru'


%map{:name => 'peru'}
  %area{:shape => "poly", :title => "Amazonas", :coords => "83,66,90,96,86,112,90,126,99,132,80,147,83,136,68,124,71,111,68,93", :href => "#{search_representative_path(:search => {:state => 1})}", :target => "_self", :alt => "Amazonas"}
  %area{:shape => "poly", :title => "Áncash", :coords => "87,167,106,189,101,202,104,210,93,217,82,212,70,184,80,176", :href => "#{search_representative_path(:search => {:state => 2})}", :target => "_self", :alt => "Áncash"}
  %area{:shape => "poly", :title => "Apurímac", :coords => "164,266,183,269,196,277,196,285,189,290,189,294,180,294,180,292,170,296,170,285", :href => "#{search_representative_path(:search => {:state => 3})}", :target => "_self", :alt => "Apurímac"}
  %area{:shape => "poly", :title => "Arequipa", :coords => "207,344,140,309,145,301,159,310,165,305,174,307,180,301,182,294,190,294,195,296,199,293,202,299,214,302,219,306,220,321,208,332,211,339", :href => "#{search_representative_path(:search => {:state => 4})}", :target => "_self", :alt => "Arequipa"}
  %area{:shape => "poly", :title => "Ayacucho", :coords => "150,244,149,253,153,255,155,262,144,268,147,279,142,282,141,292,146,301,159,309,165,305,172,306,180,299,182,295,178,292,170,296,168,282,164,266,177,268,164,258,165,253,162,247", :href => "#{search_representative_path(:search => {:state => 5})}", :target => "_self", :alt => "Ayacucho"}
  %area{:shape => "poly", :title => "Cajamarca", :coords => "83,68,69,92,71,106,66,123,83,140,83,146,88,146,86,135,93,138,99,133,96,128,92,128,89,120,90,115,87,104,91,84", :href => "#{search_representative_path(:search => {:state => 6})}", :target => "_self", :alt => "Cajamarca"}
  %area{:shape => "poly", :title => "Callao", :coords => "100,237,108,241,107,245,104,250,100,245", :href => "#{search_representative_path(:search => {:state => 7})}", :target => "_self", :alt => "Callao"}
  %area{:shape => "poly", :title => "Cuzco", :coords => "195,228,171,228,166,235,171,239,163,249,176,269,183,269,197,277,199,284,189,290,189,293,198,293,202,299,214,301,217,306,218,297,214,294,220,280,224,275,231,263,228,262,218,263,201,257,196,245,190,238", :href => "#{search_representative_path(:search => {:state => 8})}", :target => "_self", :alt => "Cuzco"}
  %area{:shape => "poly", :title => "Huancavelica", :coords => "152,243,140,242,139,249,129,263,128,269,132,270,132,277,141,282,147,281,147,275,143,268,147,268,155,263,153,255,148,251", :href => "#{search_representative_path(:search => {:state => 9})}", :target => "_self", :alt => "Huancavelica"}
  %area{:shape => "poly", :title => "Huánuco", :coords => "129,192,122,177,119,177,117,173,114,176,108,175,105,177,97,176,100,183,108,187,103,192,103,197,101,201,105,210,108,212,113,206,125,212,127,210,125,204,128,200,150,198,146,190,149,179,149,176,146,176,138,185", :href => "#{search_representative_path(:search => {:state => 10})}", :target => "_self", :alt => "Huánuco"}
  %area{:shape => "poly", :title => "Ica", :coords => "129,261,117,267,120,274,116,278,127,297,131,298,141,309,147,301,148,297,146,293,142,293,140,289,140,284,131,278,133,274,131,272,127,268", :href => "#{search_representative_path(:search => {:state => 11})}", :target => "_self", :alt => "Ica"}
  %area{:shape => "poly", :title => "Junín", :coords => "150,219,133,218,126,221,117,221,117,224,112,224,120,237,124,243,127,243,132,255,141,247,140,245,152,244,162,247,167,244,171,237,165,235,171,228,169,220,164,218,160,222,151,222", :href => "#{search_representative_path(:search => {:state => 12})}", :target => "_self", :alt => "Junín"}
  %area{:shape => "poly", :title => "La Libertad", :coords => "55,146,50,150,69,183,79,179,88,167,97,176,105,175,100,172,104,167,97,167,91,153,84,159,68,156,63,158", :href => "#{search_representative_path(:search => {:state => 13})}", :target => "_self", :alt => "La Libertad"}
  %area{:shape => "poly", :title => "Lambayeque", :coords => "44,117,43,124,31,134,46,144,49,150,56,146,60,141,55,136,59,128,52,127", :href => "#{search_representative_path(:search => {:state => 14})}", :target => "_self", :alt => "Lambayeque"}
  %area{:shape => "poly", :title => "Lima", :coords => "88,215,91,232,101,238,108,241,107,247,103,248,117,269,128,260,131,255,129,245,121,241,107,211,104,210,93,218", :href => "#{search_representative_path(:search => {:state => 15})}", :target => "_self", :alt => "Lima"}
  %area{:shape => "poly", :title => "Loreto", :coords => "127,11,135,29,114,56,85,69,92,94,87,105,91,116,110,127,113,125,132,131,129,144,125,139,120,146,128,168,123,170,122,177,131,171,133,166,147,163,148,151,160,155,166,144,172,139,179,139,175,126,182,120,180,110,201,98,228,92,236,96,239,91,232,83,224,82,238,61,217,53,201,52,191,57,179,57,177,47,170,43,171,37,153,28,153,19,134,7", :href => "#{search_representative_path(:search => {:state => 16})}", :target => "_self", :alt => "Loreto"}
  %area{:shape => "poly", :title => "Madre de Dios", :coords => "228,198,221,206,220,212,196,223,190,241,201,251,205,259,232,263,246,270,257,261,263,252,248,224,239,217,232,221,227,221", :href => "#{search_representative_path(:search => {:state => 17})}", :target => "_self", :alt => "Madre de Dios"}
  %area{:shape => "poly", :title => "Moquegua", :coords => "219,318,217,326,208,334,210,340,208,344,209,352,215,352,228,337,228,334,230,334,234,331,227,326,227,319", :href => "#{search_representative_path(:search => {:state => 18})}", :target => "_self", :alt => "Moquegua"}
  %area{:shape => "poly", :title => "Pasco", :coords => "150,197,125,202,125,210,113,209,107,214,114,225,119,222,138,216,150,220,157,215,152,210", :href => "#{search_representative_path(:search => {:state => 19})}", :target => "_self", :alt => "Pasco"}
  %area{:shape => "poly", :title => "Piura", :coords => "20,89,16,103,22,110,20,114,27,118,25,124,20,125,31,134,43,125,44,118,54,125,57,106,43,94,39,96,33,92", :href => "#{search_representative_path(:search => {:state => 20})}", :target => "_self", :alt => "Piura"}
  %area{:shape => "poly", :title => "Puno", :coords => "231,263,220,278,221,284,215,292,212,294,218,297,214,302,222,320,229,320,231,328,237,332,232,336,242,342,255,330,243,313,237,313,240,306,242,300,250,310,254,305,248,299,260,283,255,276,257,261,243,269", :href => "#{search_representative_path(:search => {:state => 21})}", :target => "_self", :alt => "Puno"}
  %area{:shape => "poly", :title => "San Martín", :coords => "88,116,89,127,95,127,99,132,93,138,87,138,87,146,93,155,95,167,104,168,103,172,112,177,117,173,118,178,122,175,127,167,117,151,120,144,123,141,129,144,131,132,131,130,122,128,115,125,109,127,106,121", :href => "#{search_representative_path(:search => {:state => 22})}", :target => "_self", :alt => "San Martín"}
  %area{:shape => "poly", :title => "Tacna", :coords => "229,335,214,354,228,363,233,363,240,358,238,350,244,346,244,343,236,341", :href => "#{search_representative_path(:search => {:state => 23})}", :target => "_self", :alt => "Tacna"}
  %area{:shape => "poly", :title => "Tumbes", :coords => "37,74,22,90,32,92,34,89,37,89,40,82", :href => "#{search_representative_path(:search => {:state => 24})}", :target => "_self", :alt => "Tumbes"}
  %area{:shape => "poly", :title => "Ucayali", :coords => "161,153,147,152,148,163,133,168,132,174,129,173,121,178,127,192,136,185,148,175,149,178,145,190,156,216,151,220,153,223,162,222,167,218,169,222,170,228,180,228,195,228,196,222,221,212,222,204,226,200,226,192,211,201,197,201,192,192,177,190,181,184,172,173", :href => "#{search_representative_path(:search => {:state => 25})}", :target => "_self", :alt => "Ucayali"}