#home-page
  .main-banner
    = image_tag 'front/main-banner.png'
    .pie-de-banner
      %p
        Conoce a tus congresistas y sus proyectos de ley. Infórmate, opina y participa. ¡Tú puedes ser el congresista 131!
  %aside
    %h2
      - if @iniciativa.main
        La propuesta destacada
      - else
        La propuesta mas vista
    %p.info
      = I18n.localize(@iniciativa.presented_at, :format => :month_year)
      %br
      Propuesta por:
      %span
        = (@iniciativa.representative)? link_to(@iniciativa.representative.try(:name), congresista_path(@iniciativa.representative)) : ''

    %p.description
      = link_to @iniciativa.title, iniciativa_path(@iniciativa)

    %ul.colores
      %li.comenta
        Vota
        %br
        Comenta
      %li.votos
        %span
          = @iniciativa.total_votes
        %br
        votos
      %li.comentarios
        %span
          = @iniciativa.comments.count
        %br
        comentarios

    %ul.info
      %li
        Etapa del proyecto de ley
        %span= @iniciativa.state_formated
      %li
        Votaci&oacute;n 131 voces
        %span
          A favor:
          = "#{@iniciativa.percentage_votes_up}%"
        %span
          En contra:
          = "#{@iniciativa.percentage_votes_down}%"
      %li
        Votaci&oacute;n oficial
        %span
          A favor:
          = "#{@iniciativa.official_percentage_up}%"
        %span
          En contra:
          = "#{@iniciativa.official_percentage_down}%"

  %article#home
    %h2 Integrantes del congreso
    = image_tag 'front/home-peru.png'
    = form_tag search_representative_path, :method => :post do
      = label_tag :buscar_por_nombre
      %br
      = text_field_tag 'search[name]'
      .input
        %label
          Circunscripci&oacute;n electoral
        %br
        = select_tag 'search[state]', options_for_select(Region.all.collect {|region| [region.name, region.id]}), :include_blank => true
      = submit_tag 'Buscar', :class => :button