.clearfix
  = form.label :nombre
  .input
    = form.text_field :first_name, :class => 'xxlarge'

.clearfix
  = form.label :apellidos
  .input
    = form.text_field :last_name, :class => 'xxlarge'

.clearfix
  = form.label :posicion
  .input
    = form.text_field :position, :class => 'xxlarge'

.clearfix
  = form.label :circunscripcion
  .input
    = form.select :region_id, @regions, { :include_blank => true }

.clearfix
  = form.label :grupo_parlamentario
  .input
    = form.select :political_party_id, @political_parties, { :include_blank => true}

.clearfix
  = form.label :email
  .input
    = form.text_field :email, :class => 'xxlarge'

.clearfix
  = form.label :telefono
  .input
    = form.text_field :phone, :class => 'xxlarge'

.clearfix
  = form.label :comisiones
  .input
    = form.text_field :commission_tokens, "data-pre" => @representative.commissions.map(&:attributes).to_json

.clearfix
  = form.label :avatar
  .input
    = form.file_field :avatar, :class => 'xxlarge'
    = form.hidden_field :avatar_cache

.clearfix
  = form.label :biografia
  .input
    = form.text_area :biography, :class => 'xxlarge'

.clearfix
  = form.label :fecha_de_nacimiento
  .input
    = form.text_field :birthday, :class => 'xxlarge'

.clearfix
  = form.label :twitter
  .input
    = form.text_field :twitter, :class => 'xxlarge'

.clearfix
  = form.label :numero_de_votos
  .input
    = form.number_field :number_votes, :class => 'xxlarge'

.clearfix
  = form.label :temas
  .input
    = form.text_field :topic_tokens, "data-pre" => @representative.topics.map(&:attributes).to_json


%fieldset
  %legend Acciones de representaci&oacute;n

= form.fields_for :representation_actions do |representation_action_form|

  .clearfix
    = representation_action_form.label :name
    .input
      = representation_action_form.text_field :name, :class => 'xxlarge'

  .clearfix
    = representation_action_form.label :url
    .input
      = representation_action_form.text_field :url, :class => 'xxlarge'