%fieldset
  %legend Información
  .clearfix
    = form.label :id
    .input
      = form.text_field :id, :class => 'xxlarge', :disabled => :disabled

  .clearfix
    = form.label :numero
    .input
      = form.number_field :number, :class => 'medium', :placeholder => 'Numero'
      = form.number_field :year, :class => 'medium', :placeholder => 'Año'
      = form.text_field :proponent, :class => 'medium', :placeholder => 'Proponente'


  .clearfix
    = form.label :titulo
    .input
      = form.text_field :title, :class => 'xxlarge'

  .clearfix
    = form.label :descripcion
    .input
      = form.text_area :description, :class => 'xxlarge', :rows => '5'

  .clearfix
    = form.label :presentado_en
    .input
      = form.text_field :presented_at, :class => 'xxlarge'

  .clearfix
    = form.label :presentado_por
    .input
      = form.text_field :presented_by_token, "data-pre" => [{:id => @initiative.representative.try(:id), :name => @initiative.representative.try(:name)}].to_json

  .clearfix
    = form.label :temas
    .input
      = form.text_field :topic_tokens, "data-pre" => @initiative.topics.map(&:attributes).to_json

  .clearfix
    = form.label :estado
    .input
      = form.select :state, Initiative::STATES.to_a.each {|t| t.reverse!}

  .clearfix
    = form.label :url_proyecto_de_ley
    .input
      = form.text_field :additional_resources_url, :class => 'xxlarge'

%fieldset
  %legend Recursos Adicionales

= form.fields_for :resources do |resource_form|
  .clearfix
    = resource_form.label :nombre
    .input
      = resource_form.text_field :name

  .clearfix
    = resource_form.label :url
    .input
      = resource_form.text_field :url


%fieldset
  %legend Votaciones Generales

  .clearfix
    = form.label :a_favor
    .input
      = form.text_field :official_vote_up, :class => 'xxlarge'

  .clearfix
    = form.label :en_contra
    .input
      = form.text_field :official_vote_down, :class => 'xxlarge'

  .clearfix
    = form.label :abstenciones
    .input
      = form.text_field :official_vote_abstentions, :class => 'xxlarge'

%fieldset
  %legend Votaciones Individuales
  = form.fields_for :official_votes do |official_vote_form|
    .clearfix
      %label
        = image_tag(official_vote_form.object.political_party.logo.url(:thumb)) if official_vote_form.object.political_party
      .input
        = official_vote_form.text_field :votes, :class => 'xxlarge'
        = official_vote_form.hidden_field :political_party_id
