%fieldset
  %legend Información
  .control-group
    = form.label :id, class: 'control-label'
    .controls
      = form.text_field :id, :class => 'xxlarge', :disabled => :disabled

  .control-group
    = form.label :numero, class: 'control-label'
    .controls
      = form.number_field :number, :class => 'medium', :placeholder => 'Numero'
      = form.number_field :year, :class => 'medium', :placeholder => 'Año'
      = form.text_field :proponent, :class => 'medium', :placeholder => 'Proponente'


  .control-group
    = form.label :titulo, class: 'control-label'
    .controls
      = form.text_field :title, :class => 'xxlarge'

  .control-group
    = form.label :descripcion, class: 'control-label'
    .controls
      = form.text_area :description, :class => 'xxlarge', :rows => '5'

  .control-group
    = form.label :presentado_en, class: 'control-label'
    .controls
      = form.text_field :presented_at, :class => 'xxlarge'

  .control-group
    = form.label :presentado_por, class: 'control-label'
    .controls
      = form.text_field :presented_by_token, "data-pre" => [{:id => @initiative.representative.try(:id), :name => @initiative.representative.try(:name)}].to_json

  .control-group
    = form.label :temas, class: 'control-label'
    .controls
      = form.text_field :topic_tokens, "data-pre" => @initiative.topics.map(&:attributes).to_json

  .control-group
    = form.label :estado, class: 'control-label'
    .controls
      = form.select :state, Initiative::STATES.to_a.each {|t| t.reverse!}

  .control-group
    = form.label :url_proyecto_de_ley, class: 'control-label'
    .controls
      = form.text_field :additional_resources_url, :class => 'xxlarge'

%fieldset
  %legend Recursos Adicionales

= form.fields_for :resources do |resource_form|
  .control-group
    = resource_form.label :nombre, class: 'control-label'
    .controls
      = resource_form.text_field :name

  .control-group
    = resource_form.label :url, class: 'control-label'
    .controls
      = resource_form.text_field :url


%fieldset
  %legend Votaciones Generales

  .control-group
    = form.label :a_favor, class: 'control-label'
    .controls
      = form.text_field :official_vote_up, :class => 'xxlarge'

  .control-group
    = form.label :en_contra, class: 'control-label'
    .controls
      = form.text_field :official_vote_down, :class => 'xxlarge'

  .control-group
    = form.label :abstenciones, class: 'control-label'
    .controls
      = form.text_field :official_vote_abstentions, :class => 'xxlarge'

%fieldset
  %legend Votaciones Individuales
  = form.fields_for :official_votes do |official_vote_form|
    .control-group
      %label.control-label
        = image_tag(official_vote_form.object.political_party.logo.url(:thumb)) if official_vote_form.object.political_party
      .controls
        = official_vote_form.text_field :votes, :class => 'xxlarge'
        = official_vote_form.hidden_field :political_party_id
