!!! 5
%html
  %head
    %title 131 Voces :: Admin
    = stylesheet_link_tag 'admin'
    = javascript_include_tag 'admin'
    = javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js', 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js'
    = csrf_meta_tag


  %body
    = render partial: 'layouts/admin/header'
    .container
      - if alert
        .alert-message.error{'data-alert'=>"alert"}
          = link_to 'x','#', :class => 'close'
          %p= alert
      - if notice
        .alert-message.info{'data-alert'=>"alert"}
          = link_to 'x','#', :class => 'close'
          %p= notice
      = yield
