!!! 5
%html{:class => params[:controller].gsub('/','_')}
  %head
    %title
      131 Voces
      =h yield(:title)
    = stylesheet_link_tag 'blueprint/grid'
    = stylesheet_link_tag 'front'
    = javascript_include_tag 'application'
    = javascript_include_tag 'http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.0.6/modernizr.min.js'
    = csrf_meta_tag


  %body{:class => detect_browser_os}
    /[if IE]
      %div{id: 'div-header'}
    #container
      %header
        = link_to image_tag('front/logo.png'), root_path
        %nav
          %ul
            %li= link_to 'Proyectos de Ley', iniciativas_path
            %li= link_to 'Congresistas', congresistas_path
            %li= link_to 'Comisiones', comisiones_path
            %li= link_to 'Acerca de', cms_html_path('acerca-de')
            %li= link_to 'Comenta', comenta_path
            %li= link_to 'Contacto', new_contacto_path

      %section#main-content
        = yield
      %footer
        %ul
          - Cms::Site.first.pages.for_category('Footer').published.each do |page|
            %li= link_to page.label, page.full_path
        %ul
          %li
            %span
              Powered by
            = link_to image_tag('http://curul501.org/assets/front/logo.png'), 'http://www.curul501.org', target: '_blank'
            = image_tag('/assets/front/logo_reflexion.png')

      = yield :modals
      %script{:type => 'text/javascript'}
        $(function(){
        = yield :javascript_onload
        })

<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) {return;}
js = d.createElement(s); js.id = id;
js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1&appId=287374454607456";
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<script type="text/javascript" src="//platform.twitter.com/widgets.js"></script>
<script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-31145943-1']);
_gaq.push(['_setDomainName', '131voces.pe']);
_gaq.push(['_trackPageview']);
(function() {
var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();
</script>