%h1
  Congresistas de la República

%article
  %h2
    Busqueda
  Selecciona un representante para ver su perfil e interactuar con &eacute;l.
  = link_to '<< volver', congresistas_path, :class => 'volver'

- @representantes.each do |partido_politico, representatives|
  %article
    .logo
      = image_tag(partido_politico.logo.url) if partido_politico && partido_politico.logo
      %span
        = partido_politico.name if partido_politico
    .congresistas
      - representatives.each_with_index do |representante, index|
        .congresista
          %ul
            %li= image_tag(representante.photo(:thumb))
            %li.nombre
              = link_to(representante.name, congresista_path(representante))
              %br
              = representante.region_name.capitalize
              %br
              %span.position= representante.position
            %li.last-child
              %span Contacto
              %br
              = representante.email
              %br
              %span Tel.
              =representante.phone
              %span Twitter
              =representante.twitter

